* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fira Code;
    font-size: 13px;
    min-height: 0px;
    border-radius: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    -GtkWidget-focus-line-width: 0;
    -GtkWidget-inner-border: 0;
}

@import url("colors.css");

window#waybar {
    background-color: @bg_color;
    color: @fg_color;
    background: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}
/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/*window#waybar.termite {
    background-color: #3F3F3F;
}*/

/*window#waybar.chromium {
    background-color: #000000;
    border: none;
}*/

#window {
    margin: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    /*background-color: rgba(0,0,0,0.3);
    font-weight: bold;*/
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px 2px 0 #ffffff, 0 2px 2px 0 @lock_color inset, 0 0 4px rgba(0, 0, 0, 0.2);
}

#workspaces button {
    padding: 0 5px;
}

#workspaces button:hover {
}

#workspaces button GtkLabel {
    -GtkWidget-line-spacing: 0;
}

#workspaces button.focused {
    background-color: rgba(0,0,0,0.3);
    border-top: 2px solid @lock_color;
    box-shadow: inset 0 -2px 2px 0 #ffffff, 0 2px 2px 0 @lock_color inset, 0 0 4px rgba(0, 0, 0, 0.2);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#privacy,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#window,
#custom-media,

#workspaces {
    margin: 0 1px;
    padding: 0 10px;
}

#workspaces GtkLabel {
    -GtkWidget-line-spacing: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @clock_bg_color;
    color: @clock_fg_color;
    padding: 0 10px;
}

#battery {
    background-color: @power_bg_color;
    color: @power_fg_color;
}

#battery.charging, #battery.plugged {
    color: @fg_color;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @fg_color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @power_bg_color;
    color: @power_fg_color;
}

#memory {
    background-color: @file_manager_bg_color;
    color: @fole_manager_fg_color;
}

#backlight {
    background-color: @notifications_bg_color;
    color: @notifications_fg_color;
}

#network {
    background-color: @network_bg_color;
    color: @network_fg_color;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: @sound_bg_color;
    color: @sound_fg_color;
}

#pulseaudio.muted {
    background-color: @file_manager_bg_color;
    color: @file_manager_fg_color;    
}

#temperature {
    background-color: @notifications_bg_color;
    color: @notifications_fg_color;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @network_bg_color;
    color: @network_fg_color;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: @idle_inhibitor_bg_color;
    color: @idle_inhibitor_fg_color; 
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: @idle_inhibitor_fg_color;
}

#language {
    background: @lock_color;
    color: #740864;
    padding: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 15px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-media {
    background-color: @sound_bg_color;
    color: @fg_color;
}
